.page {
    margin: 0 auto;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    min-width: -webkit-calc(#{$content-min-width} - (#{$spacing-unit} * 2));
    min-width:         calc(#{$content-min-width} - (#{$spacing-unit} * 2));
    @include media-query($desktop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        min-width: -webkit-calc(#{$content-min-width} - (#{$spacing-unit} * 2));
        min-width:         calc(#{$content-min-width} - (#{$spacing-unit} * 2));
    }
}

// Clearfix
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.post {
    margin-bottom: $spacing-unit;
    @extend %clearfix;
}

.post p {
    margin-top:    0;
    margin-bottom: $spacing-unit * 0.8;
}

.post h1, h2, h3, h4, h5, h6 {
    margin-top:    $spacing-unit * 0.9;
    margin-bottom: $spacing-unit * 0.2;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $text-light-color;
}

.post-link {
    display: block;
}

// .border-left {
//     border-left: 1px solid #ddd;
// }

.bio-column {
    font-size:large;
}
.teaching, .news {
    font-size:medium;
}

.news {
    max-height: 500px;
    overflow: scroll;
}

.entry {
    display: block;
    line-height: 1.2em;
    margin-bottom: 12px;
}


.underline {
    text-decoration: underline;
}

.students  {
    font-size: medium;
    line-height: 1.3;
    .emoji { font-size: larger;}
    ul { margin-bottom: 0.2em;}
}
