/*
 * 
 *  Oregon State University Styles:
 *  This will override the bootstrap's definitions.
 *  This is a Sass (https://sass-lang.com/) file.
 *
 */

$osu-orange: #D73F09;
$unclickable-crater-grey: #8E9089;
$moondust-blue-grey: #C6DAE7;
$osu-green: #4A773C;
$osu-stratosphere: #006A8E;
$osu-high-tide: #00859B;

body {
    font-family: KievitOffc;
    font-size: 17px;
}

/* 
 *  Headers (Text)
 */
h1 {
    font-family: Stratum2-Bold;
    margin-top: 40px;
}

h2 {
    font-family: Stratum2-Bold;
    color: #D73F09;
    margin-top: 40px;
}

h3 {
    font-family: Stratum2-Bold;
    margin-top: 30px;
}

h4 {
    font-family: Stratum2-Bold;
    margin-top: 15px;
    margin-bottom: 10px;
}

h5 {
    font-family: Stratum2-Bold;
    margin-top: 10px;
}

h6 {
    font-family: Stratum2-Bold;
    /* margin-top: 10px; */
}

footer {
    margin: 30px;
}

/* 
 *  Navigation Bar
 */
.nav-item > a:hover {
    color: $osu-orange;
}

.nav-item > a {
    color: black;
}
.nav-item > .active { 
    color: $osu-orange; 
}

/* 
 *  Hyperlink
 */
a.disabled {
    pointer-events: none;
    cursor: default;
    color: $unclickable-crater-grey;
}


/* 
 *  Table
 */
table td, table td * {
    vertical-align: top;
}

table.table tbody tr td,
table.table thead tr th,
table.table thead {
    border-top: 1px solid #003B5C;
    border-left: 1px solid #003B5C;
    border-right: 1px solid #003B5C;
    border-bottom: 1px solid #003B5C;
}

table tr.highlight {
    background-color: $moondust-blue-grey;
}

.urgent {
    color: $osu-orange;
    font-weight: bold;
}

.notice {
    color: $osu-green;
    font-weight: bold;   
}

/* 
 *  [Custom] tab
 */
 .tab {
    display: inline-block;
    margin-left: 21px;
}

h2 > div.subheading {
    font-size: 75%;
    color: $unclickable-crater-grey;
}

a.sublinks {
    color: $osu-high-tide;
}